<?xml version="1.0"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration>
	<configSections>
		<sectionGroup name="errorHandle">
			<section name="security" requirePermission="false" type="TCBaseErrorHandle.SecuritySectionHandler, TCBaseErrorHandle"/>
			<section name="errorLog" requirePermission="false" type="TCBaseErrorHandle.ErrorLogSectionHandler, TCBaseErrorHandle"/>
			<section name="errorMail" requirePermission="false" type="TCBaseErrorHandle.ErrorMailSectionHandler, TCBaseErrorHandle"/>
			<!--<section name="errorFilter" requirePermission="false" type="TCBaseErrorHandle.ErrorFilterSectionHandler, TCBaseErrorHandle"/>-->
		</sectionGroup>
		<section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
	</configSections>
	<errorHandle>
		<security allowRemoteAccess="true"/>
		<errorLog applicationName="tsc8.com" errorPage="~/GenericErrorPage.aspx"/>
		<errorMail from="xi-huan-wang@163.com" to="418921050@qq.com,86386740@qq.com,gangqiang9861@163.com" priority="High" subject="[错误]{0}{1}" smtpServer="smtp.163.com" userName="xi-huan-wang@163.com" password="lybwgq8486"/>
		<!--<errorFilter>
      <equal binding="HttpStatusCode" value="404" type="Int32" />
      <jscript>
        <expression>
          <![CDATA[
                // @assembly mscorlib
                // @assembly System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a
                // @import System.IO
                // @import System.Web

                HttpStatusCode == 404
                || BaseException instanceof FileNotFoundException 
                || BaseException instanceof HttpRequestValidationException
                /* Using RegExp below (see http://msdn.microsoft.com/en-us/library/h6e2eb7w.aspx) */
                || Context.Request.UserAgent.match(/crawler/i)

                ]]>
        </expression>
      </jscript>
    </errorFilter>-->
	</errorHandle>
	<appSettings>
		<!-- 系统自动发送Email的服务器和地址 -->
		<add key="EmailSmtpHost" value="smtp.163.com"/>
		<add key="EmailSmtpUserName" value="xi-huan-wang@163.com"/>
		<add key="EmailDisplayName" value="喜换网工作室"/>
		<add key="EmailSender" value="xi-huan-wang@163.com"/>
		<add key="EmailSmtpPassword" value="lybwgq8486"/>
		<!-- 接收系统通知的Email地址 -->
		<add key="NoticeEmail" value="418921050@qq.com;86386740@qq.com;gangqiang9861@163.com"/>
		<add key="SendSysTriggerEmail" value="true"/>
		<!-- 系统自动执行程序的时间设置,每30分自动执行的程序 -->
		<add key="cronExpr" value="0 0,30 0-23 * * ?"/>
		<!-- 系统自动执行程序的请求地址 -->
		<add key="GenerateUrl" value="http://www.tsc8.com/Admin/Sys_Generate.aspx?userpass=lybwgq8486"/>
	</appSettings>
	<connectionStrings/>
	<system.web>
		<pages enableEventValidation="false" enableViewStateMac="false" validateRequest="false" enableSessionState="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"></pages>
		<!-- 
            设置 compilation debug="true" 将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
		<compilation debug="false" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Messaging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.JScript, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Runtime.Remoting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
		</compilation>
		<!--
            通过 <authentication> 节可以配置 ASP.NET 使用的 
            安全身份验证模式，
            以标识传入的用户。 
        -->
		<authentication mode="Windows"/>
		<!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        
        -->
		<customErrors mode="Off" defaultRedirect="GenericErrorPage.aspx">
			<error statusCode="404" redirect="404.htm"/>
		</customErrors>
		<httpModules>
			<add name="ErrorLog" type="TCBaseErrorHandle.ErrorLogModule, TCBaseErrorHandle"/>
			<add name="ErrorMail" type="TCBaseErrorHandle.ErrorMailModule, TCBaseErrorHandle"/>
			<add name="ErrorFilter" type="TCBaseErrorHandle.ErrorFilterModule, TCBaseErrorHandle"/>
			<add name="MagicAjax" type="MagicAjax.MagicAjaxModule, MagicAjax"/>
		</httpModules>
		<trace enabled="true" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
		<!--<trust level="Full"/>-->
	</system.web>
	<quartz>
		<add key="quartz.scheduler.instanceName" value="ExampleDefaultQuartzScheduler"/>
		<add key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool, Quartz"/>
		<add key="quartz.threadPool.threadCount" value="10"/>
		<add key="quartz.threadPool.threadPriority" value="2"/>
		<add key="quartz.jobStore.misfireThreshold" value="60000"/>
		<add key="quartz.jobStore.type" value="Quartz.Simpl.RAMJobStore, Quartz"/>
	</quartz>
</configuration>
