HTML {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
 BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000; PADDING-TOP: 0px; TEXT-ALIGN: center
}

.me0 {
	BORDER-RIGHT: #aeaeae 1px solid; BORDER-TOP: #aeaeae 1px solid; FONT-SIZE: 12px; BACKGROUND: #efefef; BORDER-LEFT: #aeaeae 1px solid; COLOR: #1f1f1f; LINE-HEIGHT: 20px; BORDER-BOTTOM: #aeaeae 1px solid; FONT-FAMILY: "Arial"
}
.me1 {
	BORDER-RIGHT: #aeaeae 1px solid; BORDER-TOP: #aeaeae 1px solid; FONT-SIZE: 12px; BACKGROUND: #446f26; BORDER-LEFT: #aeaeae 1px solid; CURSOR: default; COLOR: #ffffff; LINE-HEIGHT: 20px; BORDER-BOTTOM: #aeaeae 1px solid; FONT-FAMILY: "Arial"
}
A.me {
	FONT-SIZE: 12px; COLOR: #1f1f1f; LINE-HEIGHT: 20px; FONT-FAMILY: "Arial"; TEXT-DECORATION: none
}
A.me:hover {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 20px; FONT-FAMILY: "Arial"; TEXT-DECORATION: none
}
DIV#pge-main {
	MARGIN: auto; BACKGROUND-COLOR: #d5e8c5
}
DIV#pge-hdr {
	BACKGROUND-COLOR: #d5e8c5
}
DIV#account A:link {
	COLOR: #ffd945
}
DIV#account A:visited {
	COLOR: #ffd945
}
DIV#account A:active {
	COLOR: #ffd945
}
DIV#pge-ftr-legal {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: #d5e8c5; TEXT-ALIGN: center
}
DIV#pge-ftr-legal P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0.8em; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV#pge-sub DIV#footer-products {
	FLOAT: right; TEXT-ALIGN: right
}
DIV.pge-ftr {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #d5e8c5; PADDING-BOTTOM: 0px; MARGIN: 1em 0px; PADDING-TOP: 0px; WHITE-SPACE: nowrap
}
DIV.pge-ftr A.brdr {
	BORDER-RIGHT: #d5e8c5 0px solid
}
DIV.pge-ftr A {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0em; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV.pge-ftr UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
DIV.pge-ftr UL LI {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
A.menutitle:link {
	DISPLAY: inline; FONT-SIZE: 13px; MARGIN-LEFT: 5px; COLOR: #4a7617; TEXT-DECORATION: underline
}
A.menutitle:visited {
	DISPLAY: inline; FONT-SIZE: 13px; MARGIN-LEFT: 5px; COLOR: #4a7617; TEXT-DECORATION: underline
}
A.menutitle:hover {
	FONT-SIZE: 13px; COLOR: #eb3d00; TEXT-DECORATION: underline
}
TD {
	FONT-SIZE: 12px; LINE-HEIGHT: 150%
}
TH {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(skin/more/z3.gif); COLOR: #ffffff; BACKGROUND-COLOR: #ffffff
}
TD.TableBody1 {
	BACKGROUND-COLOR: #ffffff
}
TD.TableBody2 {
	BACKGROUND-COLOR: #ffffff
}
TD.TopLighNav2 {
	BACKGROUND-COLOR: #ffffff
}
.tableBorder1 {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; WIDTH: 97%; BACKGROUND-COLOR: #b26b7b; BORDER-RIGHT-WIDTH: 1px
}
.tableBorder2 {
	BORDER-RIGHT: #c58f9b 1px solid; BORDER-TOP: #c58f9b 1px solid; BORDER-LEFT: #c58f9b 1px solid; WIDTH: 97%; BORDER-BOTTOM: #c58f9b 1px solid; BACKGROUND-COLOR: #f4d9dd
}
#TableTitleLink A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#TableTitleLink A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#TableTitleLink A:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#TableTitleLink A:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
input_text {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BACKGROUND: #fafafa; BORDER-LEFT: #cccccc 1px solid; COLOR: #666666; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 25px
}
SELECT {
	FONT-SIZE: 12px; LINE-HEIGHT: 15px; FONT-FAMILY: Tahoma,Verdana,宋体
}
TEXTAREA {
	FONT-SIZE: 12px; LINE-HEIGHT: 15px; FONT-FAMILY: Tahoma,Verdana,宋体
}
.normalTextSmall {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.table-1 {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
.table-zuoyou {
	BORDER-RIGHT: #cccccc 0px solid; BORDER-LEFT: #cccccc 0px solid
}
.table-youxia {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
.wenbenkuang {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #999999 1px solid; COLOR: #333333; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: "宋体"
}
.go-wenbenkuang {
	BORDER-RIGHT: #a2a2a2 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 9pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #ffffff 1px solid; CURSOR: hand; COLOR: #333333; PADDING-TOP: 1px; BORDER-BOTTOM: #a2a2a2 1px solid; FONT-FAMILY: "宋体"; HEIGHT: 19px; BACKGROUND-COLOR: #eeeeee
}
.table-shangxia {
	BORDER-TOP: #cccccc 1px dotted; BORDER-BOTTOM: #cccccc 1px solid
}
.table-you {
	BORDER-RIGHT: #cccccc 0px solid
}
.table-zuo {
	BORDER-LEFT: #cccccc 1px solid
}
.table-shang {
	BORDER-TOP: #cccccc 1px solid
}
.table-xia {
	BORDER-BOTTOM: #cccccc 1px solid
}
.question {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND-COLOR: #efefef
}
#MenuCityList {
	PADDING-RIGHT: 0px; DISPLAY: none; PADDING-LEFT: 0px; Z-INDEX: 9999; BACKGROUND: url(../images/fuck_bg.gif); PADDING-BOTTOM: 0px; WIDTH: 655px; PADDING-TOP: 0px; POSITION: absolute
}
#MenuCityList TABLE TD {
	WIDTH: 150px
}
#HeadCommandInfoList {
	BORDER-RIGHT: #888 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #888 1px solid; DISPLAY: none; PADDING-LEFT: 0px; Z-INDEX: 100; BACKGROUND: #fef8dc; PADDING-BOTTOM: 0px; BORDER-LEFT: #888 1px solid; WIDTH: 170px; PADDING-TOP: 0px; BORDER-BOTTOM: #888 1px solid; POSITION: absolute
}
#HeadCommandInfoList TABLE TD A {
	PADDING-RIGHT: 0px
}
#MenuCity {
	POSITION: relative
}
#HeadCommandInfo {
	PADDING-BOTTOM: 1px; POSITION: relative
}
.FlowMenuList TABLE {
	BORDER-RIGHT: #fff 0px solid; BORDER-TOP: #fff 0px solid; BORDER-LEFT: #fff 0px solid; BORDER-BOTTOM: #fff 0px solid
}
.FlowMenuList TABLE TD {
	WHITE-SPACE: nowrap; TEXT-ALIGN: left
}
.FlowMenuList TABLE TD A {
	DISPLAY: block
}
.FlowMenuListTwo TABLE {
	BORDER-RIGHT: #fff 0px solid; BORDER-TOP: #fff 0px solid; BORDER-LEFT: #fff 0px solid; BORDER-BOTTOM: #fff 0px solid
}
.FlowMenuListTwo TABLE TD {
	WHITE-SPACE: nowrap; TEXT-ALIGN: left
}
.FlowMenuListTwo TABLE TD A {
	DISPLAY: block
}
.FlowMenuList {
	MARGIN-TOP: 18px; MARGIN-LEFT: -70px
}
.FlowMenuListTwo {
	MARGIN-TOP: 28px; MARGIN-LEFT: -90px
}
.serverman {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; POSITION: relative; TOP: 1px
}
.servermanTwo {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; POSITION: relative; TOP: 6px
}
.QQname {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; POSITION: relative; TOP: -6px
}
.QQnametwo {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; POSITION: relative; TOP: -6px
}
.disuser4_gift {
	FLOAT: left; MARGIN: 25px 15px 0px; WIDTH: 155px; HEIGHT: 160px
}
.disuser4_giftOne {
	COLOR: #313131; TEXT-ALIGN: center
}
.disuser4_giftTwo {
	FONT-SIZE: 12px; COLOR: #ec3d00; TEXT-ALIGN: center
}
.disuser4_giftTwo SPAN {
	MARGIN: 0px 7px; COLOR: #666
}
.disuser4_giftTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #313131
}
.debatefenye_span {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: #9bb753; FLOAT: left; PADDING-BOTTOM: 3px; MARGIN: 0px 2px; COLOR: #fff; LINE-HEIGHT: 12px; PADDING-TOP: 4px
}
.debatefenye_spantwo {
	BORDER-RIGHT: #d4d4d4 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #d4d4d4 1px solid; PADDING-LEFT: 10px; FONT-SIZE: 12px; FLOAT: left; PADDING-BOTTOM: 2px; MARGIN: 0px 2px; BORDER-LEFT: #d4d4d4 1px solid; COLOR: #d4d4d4; LINE-HEIGHT: 12px; PADDING-TOP: 3px; BORDER-BOTTOM: #d4d4d4 1px solid
}
.debatefenye_A {
	BORDER-RIGHT: #d4d4d4 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #d4d4d4 1px solid; PADDING-LEFT: 6px; FONT-SIZE: 12px; FLOAT: left; PADDING-BOTTOM: 2px; MARGIN: 0px 2px; BORDER-LEFT: #d4d4d4 1px solid; LINE-HEIGHT: 12px; PADDING-TOP: 3px; BORDER-BOTTOM: #d4d4d4 1px solid
}
.debatefenye_Atwo {
	BORDER-RIGHT: #d4d4d4 1px solid; PADDING-RIGHT: 12px; BORDER-TOP: #d4d4d4 1px solid; PADDING-LEFT: 8px; FONT-SIZE: 12px; FLOAT: left; PADDING-BOTTOM: 2px; MARGIN: 0px 2px; BORDER-LEFT: #d4d4d4 1px solid; LINE-HEIGHT: 12px; PADDING-TOP: 3px; BORDER-BOTTOM: #d4d4d4 1px solid
}
.MyMoneyOne {
	MARGIN-TOP: 9px; BACKGROUND: url(../images/imagesnew/mymoney_5.gif) #eff0f2 no-repeat; HEIGHT: 35px
}
.myMoneyOneUl {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; BACKGROUND: #eff0f2; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 248px
}
.myMoneyOneUl LI.One {
	BORDER-RIGHT: #e8e8e8 1px solid; BORDER-TOP: #e8e8e8 1px solid; BACKGROUND: #fff; FLOAT: left; BORDER-LEFT: #e8e8e8 1px solid; WIDTH: 298px; BORDER-BOTTOM: #e8e8e8 1px solid; HEIGHT: 246px
}
.myMoneyOneUl LI.Two {
	FLOAT: left; WIDTH: 8px
}
.MyMoneyTwo {
	MARGIN-TOP: 9px; BACKGROUND: url(../images/imagesnew/mymoney_10.gif) #eff0f2 no-repeat; HEIGHT: 35px
}
.MyMoneyBorderThree {
	PADDING-LEFT: 135px
}
.MyMoneyBorderTwo {
	CLEAR: both; PADDING-RIGHT: 15px; MARGIN-TOP: 20px; PADDING-LEFT: 18px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; COLOR: #7b7b7b; LINE-HEIGHT: 20px; PADDING-TOP: 0px; HEIGHT: 98px
}
.MyMoneyBorderOne {
	MARGIN-TOP: 28px; MARGIN-LEFT: 17px
}
.MyMoneyBorderOne DIV.Title {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #606060
}
.MyMoneyBorderOne DIV.Text {
	FONT-SIZE: 12px; COLOR: #7b7b7b; PADDING-TOP: 12px
}
.MyMoneyTitle {
	MARGIN-TOP: 13px; MARGIN-LEFT: 17px
}
.MyMoneyTitle DIV.Title {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #434343
}
.MyMoneyTitle DIV.Text {
	FONT-SIZE: 12px; COLOR: #7b7b7b; PADDING-TOP: 9px
}
.MyMoneyImg {
	max-height: 93px; max-width: 93px
}
 HTML IMG.MyMoneyImg {
	
}
.MyMoneyRoundTop {
	MARGIN-TOP: 14px; BACKGROUND: url(../images/imagesnew/mymoney_20.gif) no-repeat; OVERFLOW: hidden; WIDTH: 930px; HEIGHT: 8px
}
.MyMoneyRoundBottom {
	BACKGROUND: url(../images/imagesnew/mymoney_21.gif) no-repeat; OVERFLOW: hidden; WIDTH: 930px; HEIGHT: 8px
}
.MyMoneyRoundMiddle {
	BORDER-RIGHT: #e8e8e8 1px solid; PADDING-RIGHT: 20px; PADDING-LEFT: 20px; BACKGROUND: #f9f9f9; PADDING-BOTTOM: 0px; BORDER-LEFT: #e8e8e8 1px solid; PADDING-TOP: 0px
}
.MyMoneyRoundContent {
	MARGIN-TOP: 8px; FONT-SIZE: 12px; COLOR: #313131; LINE-HEIGHT: 26px
}
.MyMoneyRoundTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #313131; PADDING-TOP: 10px
}
.myMoneyTwoUl {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 22px; PADDING-TOP: 0px
}
.myMoneyTwoUl LI.One {
	MARGIN-TOP: 20px; FLOAT: left; WIDTH: 266px; HEIGHT: 100px
}
.myMoneyTwoUl LI.Two {
	MARGIN-TOP: 20px; FLOAT: left; WIDTH: 26px; HEIGHT: 100px
}
.myMoneyThreeUl {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 22px; PADDING-TOP: 0px
}
.myMoneyThreeUl LI.One {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 20px 0px 0px; WIDTH: 165px; PADDING-TOP: 0px; HEIGHT: 45px
}
.myMoneyThreeUl LI.One IMG {
	VERTICAL-ALIGN: top
}
.myMoneyThreeUl LI.One INPUT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 11px 12px 0px 0px; PADDING-TOP: 0px
}
.myMoneyFourUl {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 22px; PADDING-TOP: 0px
}
.myMoneyFourUl LI.One {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 10px 0px 0px; WIDTH: 281px; PADDING-TOP: 0px; HEIGHT: 16px
}
.myMoneyFourUl LI.One A {
	VERTICAL-ALIGN: middle
}
.myMoneyFourUl LI.One INPUT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 5px 0px 0px; PADDING-TOP: 0px
}
.myMoneyTableOne {
	
}
.myMoneyTableOne TD {
	COLOR: #7c7c7c; HEIGHT: 29px; TEXT-ALIGN: center
}
.myMoneyTableOne TD.One {
	PADDING-LEFT: 31px; COLOR: #7c7c7c; HEIGHT: 29px; TEXT-ALIGN: left
}
.myMoneyTableOne TD.Two {
	PADDING-RIGHT: 14px; PADDING-LEFT: 14px; WIDTH: 539px; COLOR: #7c7c7c; HEIGHT: 29px; TEXT-ALIGN: left
}
.myMoneyTableOne TH {
	FONT-WEIGHT: 100; BACKGROUND: #f1f1f1; COLOR: #313131; HEIGHT: 29px; TEXT-ALIGN: center
}
.myMoneyDarkColor {
	COLOR: #eb3d00
}
.myMoneyTableTwo {
	
}
.myMoneyTableTwo TD {
	COLOR: #646464; BORDER-BOTTOM: #d0d0d0 1px solid; HEIGHT: 29px; TEXT-ALIGN: left
}
.myMoneyTableTwo INPUT.noreg {
	PADDING-LEFT: 6px; BACKGROUND: url(../images/imagesnew/mymoney_37.gif) no-repeat 0px 3px; COLOR: #fff
}
A.headernew:link {
	FONT-SIZE: 12px; MARGIN: 0px 6px; COLOR: #313131
}
A.headernew:visited {
	FONT-SIZE: 12px; MARGIN: 0px 6px; COLOR: #313131
}
headernew:active {
	FONT-SIZE: 12px; MARGIN: 0px 6px; COLOR: #313131
}
A.headernew:hover {
	FONT-SIZE: 12px; MARGIN: 0px 6px; COLOR: #eb3d00
}
.headernewImg {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN-LEFT: 21px; VERTICAL-ALIGN: text-bottom; MARGIN-RIGHT: 5px; BORDER-RIGHT-WIDTH: 0px
}
.shopBbsSelect {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(../images/imagesnew/shopbbsspace_2.gif) 50% bottom; FLOAT: left; MARGIN-LEFT: 7px; WIDTH: 97px; CURSOR: pointer; COLOR: #313131; LINE-HEIGHT: 27px; HEIGHT: 27px; TEXT-ALIGN: center
}
.shopBbsNoSelect {
	FONT-SIZE: 14px; BACKGROUND: url(../images/imagesnew/shopbbsspace_3.gif) 50% bottom; FLOAT: left; MARGIN-LEFT: 7px; WIDTH: 98px; CURSOR: pointer; COLOR: #313131; LINE-HEIGHT: 27px; HEIGHT: 27px; TEXT-ALIGN: center
}
