<?xml version="1.0" encoding="utf-8"?>
<map>
  <class name="areaEntity" table="area" database="tsc8_com">
    <attribute name="id" column="id" type="Integer" increment="true" key="primary" />
    <attribute name="areaID" column="areaID" type="String" />
    <attribute name="area" column="area" type="String" />
    <attribute name="father" column="father" type="String" />
  </class>
  <class name="cityEntity" table="city" database="tsc8_com">
    <attribute name="id" column="id" type="Integer" increment="true" key="primary" />
    <attribute name="cityID" column="cityID" type="String" />
    <attribute name="city" column="city" type="String" />
    <attribute name="father" column="father" type="String" />
  </class>
  <class name="provinceEntity" table="province" database="tsc8_com">
    <attribute name="id" column="id" type="Integer" increment="true" key="primary" />
    <attribute name="provinceID" column="provinceID" type="String" />
    <attribute name="province" column="province" type="String" />
  </class>
  <class name="XiHuan_GoodsImageEntity" table="XiHuan_GoodsImage" database="tsc8_com">
    <attribute name="Id" column="Id" type="Integer" increment="true" key="primary" />
    <attribute name="GoodsId" column="GoodsId" type="Integer" />
    <attribute name="GoodsName" column="GoodsName" type="String" />
    <attribute name="ImgDesc" column="ImgDesc" type="String" />
    <attribute name="ImgSrc" column="ImgSrc" type="String" />
    <attribute name="IsDefaultPhoto" column="IsDefaultPhoto" type="TinyInt" />
    <attribute name="CreateDate" column="CreateDate" type="Date" />
  </class>
  <class name="XiHuan_GoodsSecondTypeEntity" table="XiHuan_GoodsSecondType" database="tsc8_com">
    <attribute name="Id" column="Id" type="Integer" increment="true" key="primary" />
    <attribute name="ParentId" column="ParentId" type="Integer" />
    <attribute name="Name" column="Name" type="String" />
    <attribute name="CreateDate" column="CreateDate" type="Date" />
  </class>
  <class name="XiHuan_GoodsTypeEntity" table="XiHuan_GoodsType" database="tsc8_com">
    <attribute name="Id" column="Id" type="Integer" increment="true" key="primary" />
    <attribute name="FixId" column="FixId" type="Integer" />
    <attribute name="TypeName" column="TypeName" type="String" />
    <attribute name="CreateDate" column="CreateDate" type="Date" />
  </class>
  <class name="XiHuan_GoodsViewUserEntity" table="XiHuan_GoodsViewUser" database="tsc8_com">
    <attribute name="Id" column="Id" type="Integer" increment="true" key="primary" />
    <attribute name="GoodsId" column="GoodsId" type="Integer" />
    <attribute name="VisitorId" column="VisitorId" type="Integer" />
    <attribute name="VisitorName" column="VisitorName" type="String" />
    <attribute name="VisitorHeadImage" column="VisitorHeadImage" type="String" />
    <attribute name="Type" column="Type" type="TinyInt" />
    <attribute name="VisitDate" column="VisitDate" type="Date" />
  </class>
  <class name="XiHuan_GuestBookEntity" table="XiHuan_GuestBook" database="tsc8_com">
    <attribute name="Id" column="Id" type="Integer" increment="true" key="primary" />
    <attribute name="GoodsId" column="GoodsId" type="Integer" />
    <attribute name="GoodsName" column="GoodsName" type="String" />
    <attribute name="FromId" column="FromId" type="Integer" />
    <attribute name="FromName" column="FromName" type="String" />
    <attribute name="ToId" column="ToId" type="Integer" />
    <attribute name="ToName" column="ToName" type="String" />
    <attribute name="Flag" column="Flag" type="TinyInt" />
    <attribute name="Content" column="Content" type="String" />
    <attribute name="ReplyContent" column="ReplyContent" type="String" />
    <attribute name="IsScerect" column="IsScerect" type="TinyInt" />
    <attribute name="CreateDate" column="CreateDate" type="Date" />
    <attribute name="IsChecked" column="IsChecked" type="TinyInt" />
  </class>
  <class name="XiHuan_MessageEntity" table="XiHuan_Message" database="tsc8_com">
    <attribute name="Id" column="Id" type="Integer" increment="true" key="primary" />
    <attribute name="FromId" column="FromId" type="Integer" />
    <attribute name="ToId" column="ToId" type="Integer" />
    <attribute name="FromName" column="FromName" type="String" />
    <attribute name="ToName" column="ToName" type="String" />
    <attribute name="Content" column="Content" type="String" />
    <attribute name="Flag" column="Flag" type="TinyInt" />
    <attribute name="CreateDate" column="CreateDate" type="Date" />
  </class>
  <class name="XiHuan_SchoolInfoEntity" table="XiHuan_SchoolInfo" database="tsc8_com">
    <attribute name="Id" column="Id" type="Integer" increment="true" key="primary" />
    <attribute name="SchoolName" column="SchoolName" type="String" />
    <attribute name="ProvinceId" column="ProvinceId" type="Integer" />
    <attribute name="CityId" column="CityId" type="Integer" />
    <attribute name="AreaId" column="AreaId" type="Integer" />
  </class>
  <class name="XiHuan_UserFavorateEntity" table="XiHuan_UserFavorate" database="tsc8_com">
    <attribute name="Id" column="Id" type="Integer" increment="true" key="primary" />
    <attribute name="UserId" column="UserId" type="Integer" />
    <attribute name="GoodsId" column="GoodsId" type="Integer" />
    <attribute name="GoodsName" column="GoodsName" type="String" />
    <attribute name="FavDate" column="FavDate" type="Date" />
    <attribute name="FacRemark" column="FacRemark" type="String" />
  </class>
  <class name="XiHuan_UserFriendsEntity" table="XiHuan_UserFriends" database="tsc8_com">
    <attribute name="Id" column="Id" type="Integer" increment="true" key="primary" />
    <attribute name="OwnerId" column="OwnerId" type="Integer" />
    <attribute name="OwnerName" column="OwnerName" type="String" />
    <attribute name="FriendId" column="FriendId" type="Integer" />
    <attribute name="FriendName" column="FriendName" type="String" />
    <attribute name="AddDate" column="AddDate" type="Date" />
    <attribute name="FriendDesc" column="FriendDesc" type="String" />
  </class>
  <class name="XiHuan_UserGoodsEntity" table="XiHuan_UserGoods" database="tsc8_com">
    <attribute name="Id" column="Id" type="Integer" increment="true" key="primary" />
    <attribute name="OwnerId" column="OwnerId" type="Integer" />
    <attribute name="OwnerName" column="OwnerName" type="String" />
    <attribute name="Name" column="Name" type="String" />
    <attribute name="TypeId" column="TypeId" type="Integer" />
    <attribute name="ChildId" column="ChildId" type="Integer" />
    <attribute name="NewDeep" column="NewDeep" type="TinyInt" />
    <attribute name="OnlyCityChange" column="OnlyCityChange" type="TinyInt" />
    <attribute name="OnlySchoolChange" column="OnlySchoolChange" type="TinyInt" />
    <attribute name="ViewCount" column="ViewCount" type="Integer" />
    <attribute name="Description" column="Description" type="String" />
    <attribute name="HopeToChangeTypeId" column="HopeToChangeTypeId" type="Integer" />
    <attribute name="HopeToChangeChildTypeId" column="HopeToChangeChildTypeId" type="Integer" />
    <attribute name="HopeToChangeDesc" column="HopeToChangeDesc" type="String" />
    <attribute name="IsHavePhoto" column="IsHavePhoto" type="TinyInt" />
    <attribute name="DefaultPhoto" column="DefaultPhoto" type="String" />
    <attribute name="ProvinceId" column="ProvinceId" type="Integer" />
    <attribute name="ProvinceName" column="ProvinceName" type="String" />
    <attribute name="CityId" column="CityId" type="Integer" />
    <attribute name="CityName" column="CityName" type="String" />
    <attribute name="AreaId" column="AreaId" type="Integer" />
    <attribute name="AreaName" column="AreaName" type="String" />
    <attribute name="SchoolId" column="SchoolId" type="Integer" />
    <attribute name="SchoolName" column="SchoolName" type="String" />
    <attribute name="GoodState" column="GoodState" type="TinyInt" />
    <attribute name="IsTJ" column="IsTJ" type="TinyInt" />
    <attribute name="CreateDate" column="CreateDate" type="Date" />
    <attribute name="DetailUrl" column="DetailUrl" type="String" />
    <attribute name="IsChecked" column="IsChecked" type="TinyInt" />
  </class>
  <class name="XiHuan_UserInfoEntity" table="XiHuan_UserInfo" database="tsc8_com">
    <attribute name="ID" column="ID" type="Integer" increment="true" key="primary" />
    <attribute name="UserType" column="UserType" type="TinyInt" />
    <attribute name="UserName" column="UserName" type="String" />
    <attribute name="Md5Pwd" column="Md5Pwd" type="String" />
    <attribute name="OrignalPwd" column="OrignalPwd" type="String" />
    <attribute name="Gender" column="Gender" type="TinyInt" />
    <attribute name="HeadImage" column="HeadImage" type="String" />
    <attribute name="Email" column="Email" type="String" />
    <attribute name="TelePhone" column="TelePhone" type="String" />
    <attribute name="WangWang" column="WangWang" type="String" />
    <attribute name="QQ" column="QQ" type="String" />
    <attribute name="Msn" column="Msn" type="String" />
    <attribute name="OtherLink" column="OtherLink" type="String" />
    <attribute name="ProvinceId" column="ProvinceId" type="Integer" />
    <attribute name="ProvinceName" column="ProvinceName" type="String" />
    <attribute name="CityId" column="CityId" type="Integer" />
    <attribute name="CityName" column="CityName" type="String" />
    <attribute name="AreaId" column="AreaId" type="Integer" />
    <attribute name="AreaName" column="AreaName" type="String" />
    <attribute name="SchoolId" column="SchoolId" type="Integer" />
    <attribute name="SchoolName" column="SchoolName" type="String" />
    <attribute name="SignNote" column="SignNote" type="String" />
    <attribute name="HuanBi" column="HuanBi" type="Integer" />
    <attribute name="Score" column="Score" type="Integer" />
    <attribute name="XinYu" column="XinYu" type="Integer" />
    <attribute name="GoodFeed" column="GoodFeed" type="Integer" />
    <attribute name="RegisterDate" column="RegisterDate" type="Date" />
    <attribute name="LastLoginTime" column="LastLoginTime" type="Date" />
    <attribute name="IsCertNoChecked" column="IsCertNoChecked" type="TinyInt" />
    <attribute name="GoodsNumber" column="GoodsNumber" type="Integer" />
    <attribute name="IsStarUser" column="IsStarUser" type="TinyInt" />
    <attribute name="Question" column="Question" type="String" />
    <attribute name="Answer" column="Answer" type="String" />
    <attribute name="IsLocked" column="IsLocked" type="TinyInt" />
  </class>
  <class name="XiHuan_UserRequireEntity" table="XiHuan_UserRequire" database="tsc8_com">
    <attribute name="Id" column="Id" type="Integer" increment="true" key="primary" />
    <attribute name="UserId" column="UserId" type="Integer"   />
    <attribute name="UserName" column="UserName" type="String" />
    <attribute name="RequireType" column="RequireType" type="TinyInt" />
    <attribute name="RequireContent" column="RequireContent" type="String" />
    <attribute name="ReuireDate" column="ReuireDate" type="Date" />
    <attribute name="IsChecked" column="IsChecked" type="TinyInt" />
  </class>
  <class name="XiHuan_UserVisitHistoryEntity" table="XiHuan_UserVisitHistory" database="tsc8_com">
    <attribute name="Id" column="Id" type="Integer" increment="true" key="primary" />
    <attribute name="OwnerId" column="OwnerId" type="Integer" />
    <attribute name="VisitorId" column="VisitorId" type="Integer" />
    <attribute name="OwnerName" column="OwnerName" type="String" />
    <attribute name="VisitorName" column="VisitorName" type="String" />
    <attribute name="VisitDate" column="VisitDate" type="Date" />
  </class>
  <class name="XiHuan_UserGoodsChangeRequireEntity" table="XiHuan_UserGoodsChangeRequire" database="tsc8_com">
    <attribute name="Id" column="Id" type="Integer" increment="true" key="primary" />
    <attribute name="OwnerId" column="OwnerId" type="Integer" />
    <attribute name="OwnerName" column="OwnerName" type="String" />
    <attribute name="SenderId" column="SenderId" type="Integer" />
    <attribute name="SenderName" column="SenderName" type="String" />
    <attribute name="GoodsId" column="GoodsId" type="Integer" />
    <attribute name="GoodsName" column="GoodsName" type="String" />
    <attribute name="SelectToChangeGoodsId" column="SelectToChangeGoodsId" type="String" />
    <attribute name="SelectToChangeGoodsName" column="SelectToChangeGoodsName" type="String" />
    <attribute name="RequireType" column="RequireType" type="TinyInt" />
    <attribute name="IsSecret" column="IsSecret" type="TinyInt" />
    <attribute name="RequireDescribe" column="RequireDescribe" type="String" />
    <attribute name="Flag" column="Flag" type="TinyInt" />
    <attribute name="RequireDate" column="RequireDate" type="Date" />
  </class>
  <class name="XiHuan_LinksEntity" table="XiHuan_Links" database="tsc8_com">
    <attribute name="Id" column="Id" type="Integer" increment="true" key="primary" />
    <attribute name="Name" column="Name" type="String" />
    <attribute name="Url" column="Url" type="String" />
    <attribute name="Alt" column="Alt" type="String" />
    <attribute name="Sort" column="Sort" type="Integer" />
    <attribute name="CreateDate" column="CreateDate" type="Date" />
  </class>
  <class name="XiHuan_NewsEntity" table="XiHuan_News" database="tsc8_com">
    <attribute name="Id" column="Id" type="Integer" increment="true" key="primary" />
    <attribute name="Title" column="Title" type="String" />
    <attribute name="Content" column="Content" type="String" />
    <attribute name="ViewCount" column="ViewCount" type="Integer" />
    <attribute name="Type" column="Type" type="TinyInt" />
    <attribute name="NewsUrl" column="NewsUrl" type="String" />
    <attribute name="SortNumber" column="SortNumber" type="Integer" />
    <attribute name="CreateDate" column="CreateDate" type="Date" />
  </class>
  <class name="XiHuan_ActivityInfoEntity" table="XiHuan_ActivityInfo" database="tsc8_com">
    <attribute name="Id" column="Id" type="Integer" increment="true" key="primary" />
    <attribute name="ActivityName" column="ActivityName" type="String" />
    <attribute name="CreateUserName" column="CreateUserName" type="String" />
    <attribute name="ActivityTime" column="ActivityTime" type="String" />
    <attribute name="ProvinceId" column="ProvinceId" type="Integer" />
    <attribute name="CityId" column="CityId" type="Integer" />
    <attribute name="AreaId" column="AreaId" type="Integer" />
    <attribute name="SchoolId" column="SchoolId" type="Integer" />
    <attribute name="ActivityAddress" column="ActivityAddress" type="String" />
    <attribute name="AllowPeoPle" column="AllowPeoPle" type="Integer" />
    <attribute name="ActityDesc" column="ActityDesc" type="String" />
    <attribute name="CreateDate" column="CreateDate" type="Date" />
    <attribute name="ViewCount" column="ViewCount" type="Integer" />
    <attribute name="PeopleCount" column="PeopleCount" type="Integer" />
    <attribute name="IsChecked" column="IsChecked" type="TinyInt" />
  </class>
  <class name="XiHuan_ActivityUserJoinEntity" table="XiHuan_ActivityUserJoin" database="tsc8_com">
    <attribute name="Id" column="Id" type="Integer" increment="true" key="primary" />
    <attribute name="ActivityId" column="ActivityId" type="Integer" />
    <attribute name="JoinUserName" column="JoinUserName" type="String" />
    <attribute name="JoinUserId" column="JoinUserId" type="Integer" />
    <attribute name="JoinDate" column="JoinDate" type="Date" />
    <attribute name="JoinDesc" column="JoinDesc" type="String" />
    <attribute name="IsChecked" column="IsChecked" type="TinyInt" />
  </class>
</map>