<?xml version="1.0" encoding="utf-8"?>
<map>
  <!--<database name="tsc8_com" type="MsSqlServer">
    <parameter name="Provider" value="SQLOLEDB.1" />
    <parameter name="Password" value="198624" />
    <parameter name="Initial Catalog" value="tsc8_com" />
    <parameter name="User ID" value="sa" />
    <parameter name="Data Source" value="TC01029\TC01029" />
    <classMapFile path="ClassMap.config" />
  </database>-->
  
  <database name="tsc8_com" type="MsSqlServer">
    <parameter name="Provider" value="SQLOLEDB.1" />
    <parameter name="Password" value="lybwgq" />
    <parameter name="Initial Catalog" value="a0123110836" />
    <parameter name="User ID" value="a0123110836" />
    <parameter name="Data Source" value="112.65.244.135,1433" />
    <classMapFile path="ClassMap.config" />
  </database>
</map>
