<?xml version="1.0" encoding="utf-8" ?>
<CustomExceptionConfig>
  <DefaultRedirctUrl>~/Error.aspx</DefaultRedirctUrl>
  <ErrorTips>
    <Tip>
      <ErrorCode>Unknown</ErrorCode>
      <TipMessage>系统出现未知异常</TipMessage>
    </Tip>
    <Tip>
      <ErrorCode>ConfigError</ErrorCode>
      <TipMessage>系统配置异常</TipMessage>
    </Tip>
    <Tip>
      <ErrorCode>Test</ErrorCode>
      <TipMessage>测试异常</TipMessage>
    </Tip>
  </ErrorTips>
</CustomExceptionConfig>
